.clockinout{
    width: 100%;
    padding: 1rem 0rem;
}
.clockinout-body{
    background-color: white;
    padding: 1.5rem 1.2rem;
}
.clockinout-head{
    margin-bottom: 14px;
    font-size: 1.5rem;
    font-family: "Inter";
    font-weight: 500;
    color: #383E49;
}
