.business{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 23px;
}
.business-left{
    width: 60%;
}
.business-right{
    width: 40%;
}
.business-logo-form, .business-banner{
    width: 100%;
    background-color: white;
    padding: 1.22rem;
    border-radius: 10px;
}
.business-right{
    background-color: white;
    padding: 1.5rem 1rem;
    border-radius: 10px;
}
.business-input{
    margin-bottom: 15px;
}
.business-input input{
    width: 100%;
    background-color: transparent;
    padding: 0.42875rem 0.8575rem;
    border-radius: 6.86px;
    border: 0.857px solid var(--black-1, #CFD3D4);
    color: var(--black-2, #ABAFB1);
    font-family: "Inter";
    font-size: 0.8575rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.business-input input::placeholder{
    color: var(--black-2, #ABAFB1);
    font-family: "Inter";
    font-size: 0.8575rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.business-logo{
    margin-top: 37px;
}
.business-logo-head{
    color: var(--black-60, #45464E);
    font-family: "Inter";
    font-size: 13.72px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.business-upload{
    margin-top: 19px;
    display: flex;
    align-items: center;
}
.upload-logo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    width: 147.489px;
    height: 143.201px;
    border-radius: 10.29px;
    border: 0.857px solid var(--Grey, #E1E2E9);
    background: var(--Main-Background, #F4F5FA);
}
.busines-upload-instruction{
    width: 70%;
}
.business-banner{
    margin-top: 22px;
}
.banner-upper{
    padding: 3.91rem 1.28rem;
    display: flex;
    align-items: center;
    border-radius: 9.664px;
    border: 1px solid #E0E0E0;
}
.banner-input, .banner-upload{
    width: 50%;
}
.banner-input p{
    text-align: center;
    width: 100%;
    border: none;
    background-color: transparent;
    color: rgba(4, 4, 4, 0.81);
    font-family: 'Poppin';
    font-size: 44.027px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 48.43px */
}
.banner-lower{
    margin-top: 22px;
    padding: 1.05119rem 0.99281rem;
    border: 1px solid #F2F2F2;
    border-radius: 9.664px;
}
.brand-color{
    color: var(--default-gray-800, #1F2937);
    font-family: "Inter";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
}
.adjust{
    margin-top: 8px;
    color: var(--default-gray-800, #1F2937);
    font-family: "Inter";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
.color-pallete{
    margin-top: 8px;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid var(--default-gray-200, #E5E7EB);
    background: var(--white, #FFF);
}
/* .sketch-picker{
    border-radius: 0px;
    box-shadow: none;
} */
/* react color */
.chrome-picker {
    box-shadow: none !important;
}
#rc-editable-input-2{
    font-family:"Inter" !important;
}
/* end react color */
.position-opacity{
    width: 100%;
    margin-top: 24px;
    display: flex;
}
.position,.opacity{
    width: 50%;
}
.position-head{
    color: var(--default-gray-800, #1F2937);
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* .highlight{
    margin-top: 12px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid var(--primary-primary-500, #1570EF);
} */
.position-box{
    padding: 2px;
    position: relative;
    margin-top: 12px;
    width: 50px;
    height: 50px;
    background-color: #D1D5DB;
    
}
.box-1, .box-2, .box-3, .box-4{
    width: 15px;
    height: 15px;
    background-color: white;
}
.box-2{
    position: absolute;
    top: 2px;
    right: 2px;
}
.box-3{
    position: absolute;
    bottom: 2px;
    left: 2px;
}
.box-4{
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.opacity-boxes{
    display: flex;
    gap: 10px;
}
.opacity-box p{
    color: var(--default-gray-600, #4B5563);
    text-align: center;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.position-box p{
    color: var(--default-gray-600, #4B5563);
    text-align: center;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.opacity-box img{
    margin-top: 10px;
}
.sub-text{
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--default-gray-600, #4B5563);
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.shapes, .shape-colors{
    margin-top: 24px;
}
.shapes-boxes{
    position: relative;
    display: flex;
    gap: 15px;
}
.rectangle{
    width: 30px;
    height: 20px;
    background-color: white;
}
.pill{
    width: 30px;
    height: 20px;
    background-color: white;
    border-radius: 40px;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}
.shape-color{
    width: 44px;
    height: 44px;
    border-radius: 50px;
}
.circle-1{
    background-color: #FFF;
    border: 1px solid black;
}
.circle-2{
    background-color: #121212;
}
.circle-3{
    background-color: #FEA900;
}
.circle-4{
    background-color: #4E1A75;
}
.circle-5{
    background-color: #641528;
}
.circle-6{
    background: linear-gradient(90deg, rgba(79, 70, 229, 0.00) 0%, #4F46E5 100%), linear-gradient(0deg, #000 0%, rgba(196, 196, 196, 0.00) 100%);
}
.chrome{
    position: absolute;
    left: 200px;
}
.text-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.89rem;
    border-radius: 0.44306rem;
    border: 0.886px solid var(--black-1, #CFD3D4);
}
.text-select p{
    color: var(--black-2, #ABAFB1);
    font-family: "Inter";
    font-size: 0.88606rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}