.draft{
    border-radius: 10.633px;
    background: var(--black-100, #1C1D22);
    color: white;
}
.product-button{
    display: flex;
    align-items: center;
    gap: 21px;
}
.product-body{
    margin-top: 17px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:17px;
}
.product-details, .product-upload, .add-on{
    padding: 1.55rem;
    background-color: white;
    border-radius: 10.633px;
}
.product-details{
    width: 65%;
}
.product-details form{
    display: flex;
    gap: 58px;
}
.product-upload{
    width: 35%;
}
.product-input-1, .product-input-2, .product-input-3{
    margin-bottom: 16px;
    width: 100%;
}
.product-input-1 input{
    width: 100%;
    background-color: transparent;
    padding: 0.89rem;
    color: var(--black-2, #ABAFB1);
    font-family: "Inter";
    font-size: 0.88606rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.44306rem;
    border: 0.886px solid var(--black-1, #CFD3D4);
}
.product-input-1 input::placeholder, .product-input-right input::placeholder{
    color: var(--black-2, #ABAFB1);
}
.product-input-2{
    position: relative;
    padding: 0.89rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.44306rem;
    border: 0.886px solid var(--black-1, #CFD3D4);
}
.product-dropdown{
    z-index: 5;
    top: 50px;
    position: absolute;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--primary-primary-50, #E8F1FD);
    background: #FFF;
}
.product-drop{
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 0.2px solid var(--grey-grey-50, #F0F1F3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-drop label{
    color: var(--grey-grey-500, #667085);
    font-family: "Inter";
    font-size: 0.66531rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-placeholder{
    color: var(--black-2, #ABAFB1);
    font-family: "Inter";
    font-size: 0.88606rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-input-3{
    display: flex;
    align-items: stretch;
}
.product-input-4{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-input-left{
    padding: 0.89rem;
    border-radius: 0.44306rem 0rem 0rem 0.44306rem;
    border: 0.886px solid var(--black-1, #CFD3D4);
}
.product-input-right{
    width: 100%;
}
.product-input-right input{
    width: 100%;
    background-color: transparent;
    padding: 0.89rem;
    color: var(--black-2, #ABAFB1);
    font-family: "Inter";
    font-size: 0.88606rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0rem 0.44306rem 0.44306rem 0rem;
    border: 0.886px solid var(--black-1, #CFD3D4);
}
.product-discount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}
.product-discount p{
    color: var(--black-30, #8B8D97);
    font-family: "Inter";
    font-size: 0.88606rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.add-discount p{
    color: var(--black-3, #83898C);
    text-align: right;
    font-family: "Inter";
    font-size: 0.77531rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-details-right, .product-details-left{
    width: 50%;
}
.date-added{
    margin-top: 21px;
}
.date-added-top{
    color: var(--black-50, #53545C);
    font-family: "Inter";
    font-size: 0.66456rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.date-added-block{
    margin-top: 7px;
    display: flex;
    align-items: center;
    gap: 7px;
}
.date,.time{
    width: 50%;
}
.statement-date{
    display: flex;
    align-items: center;
    border-radius: 7.089px;
    background: var(--input-default-background, rgba(239, 241, 249, 0.60));
    padding: 0.625rem;
}
.datefield{
    width: 90%;
    margin-left: 14px;
    border: none;
    background-color: transparent;
    color: var(--black-2, #ABAFB1);
    font-family: "Inter";
    font-size: 0.88606rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-des-title{
    margin-bottom: 7px;
    color: var(--black-4, #5E6366);
    font-family: Inter;
    font-size: 12.405px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-instruction{
    margin-top: 5px;
    color: var(--black-2, #ABAFB1);
    font-family: "Inter";
    font-size: 0.77531rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-upload{
    min-height: 267.595px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10.633px;
    border: 0.886px solid var(--Grey, #E1E2E9);
    background: var(--Main-Background, #F4F5FA);
}
.upload-text{
    margin-top: 26px;
    color: var(--primary-100, #5570F1);
    text-align: center;
    font-family: "Inter";
    font-size: 0.88606rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.upload-instruction{
    margin-top: 11px;
    color: var(--black-30, #8B8D97);
    text-align: center;
    font-family: "Inter";
    font-size: 0.77531rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.addition-head{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--black-60, #45464E);
    font-family: "Inter";
    font-size: 0.88606rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.addition-body{
    height: 147.975px;
    width: 100%;
    display: flex;
    gap: 24px;
}
.more-upload, .add-upload{
    width: 50%;
}
.more-upload{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10.633px;
    border: 0.886px solid var(--Grey, #E1E2E9);
    background: var(--Main-Background, #F4F5FA);
}
.add-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 10.633px;
    border: 0.886px dashed var(--black-20, #A6A8B1);
}
.add-upload svg{
    font-size: 4.3125rem;
}
.add-on{
    margin-top: 24px;
}
.add-on-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-on-top p{
    color: var(--grey-grey-800, #383E49);
    /* Sub heading/Medium */
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.add-on-top button{
    padding: 0.625rem 3rem;
    border: none;
    border-radius: 10px;
    background: var(--primary-primary-500, #1570EF);
    color: #FFF;
    font-family: "Inter";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
}
.add-form{
    margin-top: 20px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}
.addon-image{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10.633px 0px 0px 10.633px;
    border: 0.886px solid var(--Grey, #E1E2E9);
    background: var(--Main-Background, #F4F5FA);
}
.addon-upload-text{
    font-size: 0.74038rem;
}
.addon-upload-instruction{
    font-size: 0.55525rem;
}
.addon-details{
    width: 75%;
    height: 100%;
    border-radius: 0px 10.633px 10.633px 0px;
    border: 1px solid var(--grey-grey-50, #F0F1F3);
    padding: 0.94rem 1.25rem;
}
.addon-form-top{
    display: flex;
    justify-content: space-between;
}
.addon-top-text{
    color: var(--grey-grey-600, #5D6679);
    font-family:"Inter";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}
.addon-button{
    display: flex;
    gap: 13px;
}
.addon-save{
    border: 1px solid var(--primary-primary-500, #1570EF);
}
.addon-body{
    margin-top: 10px;
}
.addon-form-1{
    display: flex;
    align-items: baseline;
    gap: 15px;
    margin-bottom: 12px;
}
.addon-form-1 label{
    width: 60px;
    color: var(--grey-grey-400, #858D9D);
    font-family: "Inter";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}
.addon-form-1 input{
    width: 317px;
    padding: 0.4rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D3D3D3;
    color: var(--grey-grey-400, #858D9D);
    text-align: center;
    font-family: "Inter";
    font-size: 11.699px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.712px; /* 142.857% */
}
.ql-container{
    border-radius: 0px 0px 7.089px 7.089px!important;
    border: 0.886px solid var(--black-1, #CFD3D4) !important;
    border-top: none !important;
}
.ql-editor {
    height: 120px !important;
}
.ql-toolbar{
    border-radius:7.089px 7.089px 0px 0px !important;
    border: 0.886px solid var(--black-1, #CFD3D4) !important;
    border-bottom: none !important;
    color: var(--black-2, #ABAFB1) !important;
    font-family: "Inter" !important;
    font-size: 0.55381rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}
.ql-formats{
    margin-right: 7px !important;
}
.ql-toolbar button{
    width: 20px !important;
    height: 16px !important;
}
.ql-font,.ql-picker {
    width: 80px !important;
}
.ql-icon-picker{
    width: 10px !important;
}
.ql-icon-picker span{
    border-radius: none !important;
    border: none !important;
}
.ql-picker-label{
    padding: 0.39px !important;
    border-radius: 0.44306rem !important;
    border: 0.886px solid var(--black-1, #CFD3D4) !important;
    /* width: 80px !important; */
    color: var(--black-2, #ABAFB1) !important;
    font-family: "Inter" !important;
    font-size: 0.55381rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}