.draft-body{
    height: 78vh;
    width: 100%;
    margin-top: 10px;
    background: transparent;
    overflow-x: scroll;
    /* overflow-y: scroll; */
}
.draft-top{
    color: var(--black-60, #45464E);
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.draft-content{
    position: relative;
    padding: 1rem;
    padding-top: 3.5rem;
    background-color: #ebeefd;
    border-radius: 8px;
}
.edit-draft-button{
    position: absolute;
    right: 1rem;
    top: 1rem;
   
}
.edit-draft-button button{
    padding: 0.5rem;
    border-radius: 10.633px;
    background: var(--black-100, #1C1D22);
    color: white;
    font-family: "Inter";
    font-size: 0.8rem;
    font-style: normal;
}